{% extends 'batch/base.html' %}
{% load static %}

{% block project_content %}
  <table class="table" id="project-job-table" data-fetch-url="{% url "job-list" object.pk %}">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Status</th>
        <th scope="col">Submission Time</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script type="module">
    import { Component, Fragment, h, render } from '{% static "js/preact/preact.module.js" %}';

    const statusClasses = {
      running: "table-info",
      done: "table-success",
      failed: "table-danger",
    };

    const JobItem = ({id, status, created_on}) => {
      return h('tr', {key: id, class: statusClasses[status] || ''},
        h('th', {scope: 'row'}, id),
        h('td', null, status),
        h('td', null, created_on));
    };

    class JobList extends Component {
      constructor(props) {
        super(props);
        this.state = {jobs: []};
      }

      async update() {
        const jobs = await fetch(this.props.fetchUrl).then(r => r.json());
        this.setState({...this.state, jobs});
      }

      componentDidMount() {
        this.update();
        this.timer = setInterval(() => this.update(), this.props.refreshInterval);
      }

      componentWillUnmount() {
        clearInterval(this.timer);
      }

      render() {
        const children = this.state.jobs.map(JobItem);
        return h(Fragment, null, ...children);
      }
    }

    const table = document.getElementById('project-job-table');
    const app = h(JobList, {fetchUrl: table.dataset.fetchUrl, refreshInterval: 10000});
    const root = table.querySelector('tbody');
    render(app, root);
  </script>
{% endblock %}
