{% extends 'base.html' %}

{% block title %}Project {{ object.name }}{% endblock %}

{% block content %}
  <h2>Project {{ object.name }}</h2>

  <h3>Jobs</h3>
  <ul id="jobs" data-fetch-url="{% url "job-list" object.pk %}"></ul>
  <script>
  (() => {
    const refreshInterval = 10000;
    const container = document.querySelector('#jobs');

    async function updateJobs() {
      const response = await fetch(container.dataset.fetchUrl);
      const jobs = await response.json();
      Array.from(container.children).forEach(child => container.removeChild(child));
      jobs.forEach(job => {
        const item = document.createElement('li');
        const date = new Date(job.created_on).toLocaleDateString('en');
        const time = new Date(job.created_on).toLocaleTimeString('en');
        item.innerText = `${date} ${time}: ${job.status}`;
        container.append(item);
      });
    }

    updateJobs();
    window.setInterval(updateJobs, refreshInterval);
  })();
  </script>

  <form id="batch-job-form">
    {% csrf_token %}
    <fieldset>
    <legend>Select datasets for batch job submission</legend>
    {% for dataset in dataset_list %}
      <div>
        <input type="checkbox" id="{{ dataset.pk }}" name="{{ dataset.pk }}">
        <label for="{{ dataset.pk }}"><a href="{{ dataset.url }}">{{ dataset.name }}</a></label>
      </div>
    {% endfor %}
    </fieldset>
    <input type="hidden" name="project" value="{{ object.pk }}">
    <input type="hidden" name="submit-url" value="{% url "batch_job-list" %}">
    <input type="submit" name="submit" value="Submit Batch Jobs">
  </form>

  <script>
  (() => {
    const form = document.querySelector('#batch-job-form');
    const submitUrl = form.elements.namedItem('submit-url').value;
    const project = form.elements.namedItem('project').value;
    const csrfToken = form.elements.namedItem('csrfmiddlewaretoken').value;

    async function submitJob() {
      const datasets = Array.from(form.elements)
              .filter(elem => elem.type === 'checkbox' && elem.checked)
              .map(elem => parseInt(elem.name));

      await fetch(submitUrl, {
        method: 'POST',
        headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrfToken},
        body: JSON.stringify({'project': project, 'datasets': datasets}),
      });
    }

    form.elements.namedItem('submit').addEventListener('click', (event) => {
      event.preventDefault();
      submitJob();
    });
  })();
  </script>
{% endblock %}
