{% extends 'batch/base.html' %}

{% block project_content %}
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Select datasets for batch job submission</legend>
      {% for dataset in dataset_list %}
        <div class="form-check">
          <input type="radio"
                 id="dataset-{{ dataset.pk }}"
                 name="dataset"
                 value="{{ dataset.pk }}"
                 class="form-check-input">
          <label for="dataset-{{ dataset.pk }}" class="form-check-label">
            <a href="{% url 'datasets:detail' dataset.pk %}">
              {{ dataset.name }}
            </a>
          </label>
        </div>
      {% endfor %}
    </fieldset>
    <input type="submit" value="Submit Batch Jobs" class="btn btn-primary" role="button">
  </form>
{% endblock %}
