{% extends 'base.html' %}
{% load static %}

{% block title %}Project {{ object.name }}{% endblock %}

{% block content %}
  <h2>Project {{ object.name }}</h2>

  <h3>Jobs</h3>
  <ul id="jobs" data-fetch-url="{% url "job-list" object.pk %}"></ul>

  <script type="module">
    import { Component, h, render } from '{% static "js/preact/preact.module.js" %}';

    const JobItem = ({id, status, created_on}) => h('li', null, `${id} ${status} ${created_on}`);

    class JobList extends Component {
      constructor(props) {
        super(props);
        this.state = {jobs: []};
      }

      async update() {
        const jobs = await fetch(this.props.fetchUrl).then(r => r.json());
        this.setState({...this.state, jobs});
      }

      componentDidMount() {
        this.update();
        this.timer = setInterval(() => this.update(), this.props.refreshInterval);
      }

      componentWillUnmount() {
        clearInterval(this.timer);
      }

      render() {
        const children = this.state.jobs.map(JobItem);
        return h('ul', null, ...children);
      }
    }

    const root = document.getElementById('jobs');
    const app = h(JobList, {fetchUrl: root.dataset.fetchUrl, refreshInterval: 10000});
    render(app, root);
  </script>

  <form id="batch-job-form">
    {% csrf_token %}
    <fieldset>
    <legend>Select datasets for batch job submission</legend>
    {% for dataset in dataset_list %}
      <div>
        <input type="checkbox" id="{{ dataset.pk }}" name="{{ dataset.pk }}">
        <label for="{{ dataset.pk }}"><a href="{{ dataset.url }}">{{ dataset.name }}</a></label>
      </div>
    {% endfor %}
    </fieldset>
    <input type="hidden" name="project" value="{{ object.pk }}">
    <input type="hidden" name="submit-url" value="{% url "batch_job-list" %}">
    <input type="submit" name="submit" value="Submit Batch Jobs">
  </form>

  <script>
  (() => {
    const form = document.querySelector('#batch-job-form');
    const submitUrl = form.elements.namedItem('submit-url').value;
    const project = form.elements.namedItem('project').value;
    const csrfToken = form.elements.namedItem('csrfmiddlewaretoken').value;

    async function submitJob() {
      const datasets = Array.from(form.elements)
              .filter(elem => elem.type === 'checkbox' && elem.checked)
              .map(elem => parseInt(elem.name));

      await fetch(submitUrl, {
        method: 'POST',
        headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrfToken},
        body: JSON.stringify({'project': project, 'datasets': datasets}),
      });
    }

    form.elements.namedItem('submit').addEventListener('click', (event) => {
      event.preventDefault();
      submitJob();
    });
  })();
  </script>
{% endblock %}
